###> composer ###
composer.lock
composer.phar
vendor/
###< composer ###

###> phpunit ###
.phpunit.cache
.phpunit.result.cache
coverage.xml
###< phpunit ###

###> phpcs ###
.phpcs-cache
###< phpcs ###

###> others ###
test.php
###< others ###