language: php

php:
  - 5.4
  - 5.3

before_script:
  - composer install --dev --no-interaction

script:
  - phpunit --stderr --coverage-clover build/logs/clover.xml --configuration phpunit.xml.dist test/
