language: php

sudo: false

php:
  - 5.6
  - 5.5
  - 5.4
  - 5.3

before_script:
  - composer install --dev --no-interaction --prefer-source

script:
  - phpunit --stderr --coverage-clover build/logs/clover.xml --configuration phpunit.xml.dist test/
